

<body class="body">
  <h1 class='header'>NFL Game Predictor</h1>
  <div class="TeamPicker">
    <form>
    <div class="container">
    <h4 class="subHeader">Home Team</h4>
    <mat-form-field class="HomeTeamPicker" appearance="fill">
      <mat-label>Select a team:</mat-label>
      <mat-select [(ngModel)]="selectedHomeTeam" name="team">
        <mat-option *ngFor="let team of teams" [value]="team.name">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p> Selected Home Team: {{selectedHomeTeam}} </p>
    </div>
    <div class="container">
    <h4 class="subHeader">Away Team</h4>
    <mat-form-field class="AwayTeamPicker" appearance="fill">
      <mat-label>Select a team:</mat-label>
      <mat-select [(ngModel)]="selectedAwayTeam" name="team">
        <mat-option *ngFor="let team of teams" [value]="team.name">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p> Selected Away Team: {{selectedAwayTeam}} </p>
    </div>
    <br>
    <br>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
    <button class="winnerButton" (click)="getAllNFLData(selectedHomeTeam, selectedAwayTeam)">Predict Winner</button>
    <br>
    <br>
    <h2 class="winnerResult">{{ winner }}</h2>
  </div>
</body>
<router-outlet></router-outlet>
